<header class="header">
  {% if page.fileSlug == "" %}<h1>{% endif %}
    <a href="/">
      <img class="logo" src="/assets/logo.svg" alt="Anaïs Lemercier">
    </a>
  {% if page.fileSlug == "" %}</h1>{% endif %}

  <nav class="menu">
    <ul>
      <li>
        <a href="/">All</a>
      </li>
      <li>
        <a href="/poster/">Poster</a>
      </li>
      <li>
        <a href="/packaging/">Packaging</a>
      </li>
      <li>
        <a href="/identity/">Identity</a>
      </li>
      <li>
        <a href="/edition/">Edition</a>
      </li>
      <li>
        <a href="/illustration/">Illustration</a>
      </li>
    </ul>
    <a href="/about">About</a>
  </nav>
</header>
