<div class="list">
  {% if tag %}
    {% assign collection = collections[tag] %}
  {% else %}
    {% assign collection = collections.projects %}
  {% endif %}

  {%- for item in collection -%}
    <a href="{{item.url}}">
      {% projectPreview item homePage %}
      <img
        class="animation"
        data-src="/img/{{item.fileSlug}}/animation.gif"
        alt=""
      >
      <span>{{item.data.title}}</span>
    </a>
  {%- endfor -%}
</div>
