---
eleventyExcludeFromCollections: true
pageTitle: About — Anaïs Lemercier
pageDescription: Curriculum viteæ, contact et réseaux sociaux
---

{% include "header" %}

<main class="about">
  <h1>Anaïs Lemercier</h1>

  <p lang="en">Freelance graphic designer and illustrator</p>
  <p lang="en">La Rochelle, Paris.</p>

  <address>
    <a href="tel:0682100790">+33 (0)682 10 07 90</a>
    <a href="mailto:anaislemercier.contact@gmail.com">anaislemercier.contact@gmail.com</p>
    <a href="/assets/cv_anais_lemercier_2022.pdf">Curriculum vitæ</a>

    <div class="about__social">
      <a href="https://www.pinterest.fr/alemercier/" title="Page Pinterest">
        <img src="/assets/pinterest.svg" alt="" width="40" height="40">
      </a>
      <a href="https://www.linkedin.com/in/anais-lemercier-a63199a3/" title="Page LinkedIn">
        <img src="/assets/linkedin.svg" alt="" width="40" height="40">
      </a>
      <a href="https://www.behance.net/anaislemercier" title="Page Behance">
        <img src="/assets/behance.svg" alt="" width="40" height="40">
      </a>
    </div>
  </address>
</main>

<aside>
  {% include "list" %}
</aside>

{% include "footer" %}