---
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet">
  <title>About - Anaïs Lemercier</title>
</head>
<body class="page">
  {% include "header" %}

  <main>
    <h1>Anaïs Lemercier</h1>

    <p>Graphic designer-Illustrator</p>
    <p>Based in La Rochelle</p>

    <address>
      <p href="tel:0682100790">+33 (0)682 10 07 90</p>
      <a href="mailto:anaislemercier.contact@gmail.com">anaislemercier.contact@gmail.com</p>
      <a href="/assets/cv_anais_lemercier_2022.pdf">Curriculum vitæ</a>

      <a href="https://www.pinterest.fr/alemercier/" title="Page Pinterest">
        Pinterest
      </a>
      <a href="https://www.pinterest.fr/alemercier/" title="Page LinkedIn">
        LinkedIn
      </a>
      <a href="https://www.pinterest.fr/alemercier/" title="Page Behance">
        Behance
      </a>
    </address>
  </main>

  <aside>
    {% include "list" %}
  </aside>
</body>
</html>
