---
eleventyExcludeFromCollections: true
pageTitle: About — Anaïs Lemercier
pageDescription: Curriculum viteæ, contact et réseaux sociaux
---

{% include "header" %}

<main class="contact">
  <h1>Anaïs Lemercier</h1>

  <p lang="en">Freelance graphic designer and illustrator</p>
  <p lang="en">La Rochelle, Paris.</p>

  <address>
    <a href="tel:0682100790">+33 (0)682 10 07 90</a>
    <a href="mailto:anaislemercier.contact@gmail.com">anaislemercier.contact@gmail.com</p>
    <a href="/assets/cv_anais_lemercier_2022.pdf">Curriculum vitæ</a>

    <div class="contact__social">
      <a href="https://www.pinterest.fr/alemercier/" title="Page Pinterest">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.6 34.7" style="enable-background:new 0 0 34.6 34.7" xml:space="preserve"><style>.st0{display:none}.st1{display:inline}</style><g id="Calque_3"><path id="_Tracé__2_" d="M12.4 18.8c.2.1.4 0 .5-.2v-.1l.2-.8c.1-.2 0-.4-.1-.6-.5-.6-.7-1.3-.7-2 0-2.7 2.1-4.9 4.8-5h.3c2.8 0 4.3 1.7 4.3 4 0 3-1.3 5.5-3.3 5.5-.9 0-1.6-.6-1.7-1.5v-.5c.4-1.2.7-2.4.9-3.7.1-.8-.4-1.4-1.2-1.5h-.2c-1.1 0-2 1.1-2 2.7 0 .6.1 1.1.3 1.6l-1.3 5.6c-.2 1.3-.2 2.6 0 3.9 0 .1.1.1.2.1 0 0 .1 0 .1-.1.8-1 1.4-2.2 1.9-3.4.1-.5.7-2.8.7-2.8.6.8 1.5 1.3 2.5 1.2 3.3 0 5.6-3 5.6-7 0-3.1-2.6-6-6.5-6-4.9 0-7.4 3.5-7.4 6.4 0 2 .7 3.6 2.1 4.2z"/><path d="M17.3 34.4c-9.4 0-17-7.6-17-17s7.6-17 17-17 17 7.6 17 17c-.1 9.4-7.7 17-17 17zm0-33.2C8.4 1.3 1.2 8.5 1.2 17.4c0 8.9 7.3 16.1 16.1 16.1 8.9 0 16.1-7.2 16.1-16.1 0-9-7.3-16.2-16.1-16.2z"/></g></svg>
      </a>
      <a href="https://www.linkedin.com/in/anais-lemercier-a63199a3/" title="Page LinkedIn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.6 34.7" style="enable-background:new 0 0 34.6 34.7" xml:space="preserve"><style>.st0{display:none}.st1{display:inline}</style><g id="Calque_2"><path d="M10.6 13.3h3.2v9.1h-3.2zM20.9 13.3c1.2 0 3.3.5 3.3 3.3v5.8h-2.7v-4.6c0-.2.1-2.2-1.6-2.2-1.7 0-1.6 2-1.6 2.2v4.6h-2.6v-9.1h2.5v1.3c.5-1 1.6-1.3 2.7-1.3z"/><circle cx="12.2" cy="10.4" r="1.6"/><path d="M17.3 34.4c-9.4 0-17-7.6-17-17s7.6-17 17-17 17 7.6 17 17c-.1 9.4-7.7 17-17 17zm0-33.2C8.4 1.3 1.2 8.5 1.2 17.4c0 8.9 7.3 16.1 16.1 16.1 8.9 0 16.1-7.2 16.1-16.1 0-9-7.3-16.2-16.1-16.2z"/></g></svg>
      </a>
      <a href="https://www.behance.net/anaislemercier" title="Page Behance">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.6 34.7" style="enable-background:new 0 0 34.6 34.7" xml:space="preserve"><style>.st0{display:none}.st1{display:inline}</style><g id="Calque_1"><path id="Behance" d="M24 12.9h-4.3v-1.1H24v1.1zm-7.1 4.3c.3.5.4 1 .4 1.6 0 .6-.2 1.2-.5 1.7-.2.3-.4.6-.8.8-.4.3-.8.4-1.2.5-.5.1-1 .1-1.5.1H8.6V11.4h5.1c1-.1 2.1.3 2.7 1.1.3.5.5 1 .5 1.6 0 .6-.1 1.1-.5 1.6-.2.3-.5.5-.8.6.6.1 1 .5 1.3.9zm-5.8-1.7h2.2c.4 0 .8 0 1.1-.2.3-.2.5-.6.4-1 0-.4-.2-.8-.6-1-.4-.1-.8-.2-1.2-.2h-2l.1 2.4zm4 3.1c0-.5-.2-.9-.7-1.1-.3-.1-.7-.2-1.1-.2H11v2.8h2.2c.4 0 .7 0 1.1-.2.5-.2.8-.7.8-1.3zm10.5-1.7c.1.5.1 1 .1 1.5h-5.5c0 .6.3 1.2.8 1.6.3.2.7.3 1.1.3.6.1 1.2-.3 1.5-.9h2c-.1.5-.3 1-.7 1.4-.9.7-1.9 1.2-3 1.1-1 0-1.9-.3-2.7-.9-.8-.8-1.3-1.9-1.2-3-.1-1.1.3-2.2 1-3 .7-.7 1.7-1.1 2.7-1.1.6 0 1.2.1 1.8.4.6.2 1 .6 1.4 1.1.4.4.6.9.7 1.5zm-2 .2c0-.5-.2-.9-.5-1.2-.3-.3-.7-.4-1.2-.4-.4 0-.9.1-1.2.4-.3.3-.5.7-.5 1.2h3.4z"/><path d="M17.3 34.4c-9.4 0-17-7.6-17-17s7.6-17 17-17 17 7.6 17 17c-.1 9.4-7.7 17-17 17zm0-33.2C8.4 1.3 1.2 8.5 1.2 17.4c0 8.9 7.3 16.1 16.1 16.1 8.9 0 16.1-7.2 16.1-16.1 0-9-7.3-16.2-16.1-16.2z"/></g></svg>
      </a>
    </div>
  </address>
</main>

<aside>
  {% include "list" %}
</aside>

{% include "footer" %}