---
pageTitle: Anaïs Lemercier — Freelance Graphic Designer
pageDescription: Posters, packaging, identity, edition and illustration. Based in La Rochelle.
homePage: true
---

{% include "header" %}
<main>
  {% include "list" %}
</main>
{% include "footer" %}
