---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /{{ tag }}/
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet">
  <script src="/js/script.js" defer></script>
  <title>{{ tag | capitalize }} - Anaïs Lemercier</title>
</head>
<body>
  {% include "header" %}

  <main>
    {% include "list" %}
  </main>
</body>
