---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /{{ tag }}/
eleventyExcludeFromCollections: true
homePage: true
---

{% capture pageTitle %}{{ tag | capitalize }} — Anaïs Lemercier{% endcapture %}
{% capture pageDescription %}Tous mes projets de la catégorie {{tag}}.{% endcapture %}

{% include "header" %}

<main>
  {% include "list" %}
</main>

{% include "footer" %}
