---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /{{ tag }}/
eleventyExcludeFromCollections: true
---

{% capture pageTitle %}
  {{ tag | capitalize }} — Anaïs Lemercier
{% endcapture %}
{% include "header" %}

<main>
  {% include "list" %}
</main>

{% include "footer" %}
