---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /{{ tag }}/
eleventyExcludeFromCollections: true
homePage: true
---

{% capture pageTitle %}{{ tag | capitalize }} — Anaïs Lemercier{% endcapture %}
{% capture pageDescription %}All my projects in the {{tag}} category.{% endcapture %}

{% include "header" %}

<main>
  {% include "list" %}
</main>

{% include "footer" %}
