.header {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;

  @include medium {
    padding-top: 6rem;
  }
}

.header__logo {
  width: 18.75rem;
  max-width: 80vw;
  margin: 0 2rem 1.25rem 2rem;

  @include medium {
    margin-bottom: 0.375rem;
  }
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  text-transform: uppercase;
  font-family: "Europa", sans-serif;

  @include medium {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2rem;
    gap: 1.25rem;
    max-width: 16rem;

    @include medium {
      max-width: none;
      margin: 0;

      &::after {
        content: '/';
        font-size: .625rem;
        position: relative;
        top: .0625rem;
      }
    }
  }

  a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: .75rem;
    display: block;
    border-bottom: 0.125rem solid transparent;
    padding-bottom: .25rem;

    &:hover,
    &:focus {
      border-color: black;
    }
  }
}
