.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 13.75rem);
  gap: 3.125rem;
  margin: 0 auto 4rem;
  padding: 0 3rem;
  max-width: 87.25rem;
  justify-content: center;

  @include medium {
    margin-bottom: 7rem;
  }

  a {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Europa", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-size: .75rem;

    &:focus,
    &:hover {
      .animation {
        display: block;
      }
    }
  }

  img {
    width: 13.75rem;
    margin-bottom: 1rem;
  }

  .animation {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
}
