.project {
  max-width: 60.25rem;
  margin: 0 auto 6rem;
  padding: 0 2rem;
  padding-bottom: 3.5rem;
  text-align: center;
  border-bottom: .0625rem solid #e0e0e0;

  h1, h2 {
    margin-top: 3rem;
    text-transform: uppercase;
    font-family: "Europa";
    margin-bottom: .625rem;
  }

  p {
    max-width: 31.25rem;
    margin: 0 auto;
  }

  hr {
    width: .25rem;
    height: .0625rem;
    margin: 0.75rem auto;
    border: none;
    background: black;
    transform: skew(-7deg, -7deg)
  }

  picture + picture img {
    margin-top: 0.75rem;
  }

  :not(picture) + picture img {
    margin-top: 3rem;
  }
}
