---
title: Bam
position: 6
tags:
  - edition
  - identity
---

{% include "project-header" %}

{% projectImage page 1 %}

<h1>{{title}}</h1>
<p>Création et conception graphique d'une collection de livres documentaires pour les pré-adolescents.</p>
<p>Mise en valeur de 40 personnages sur des thèmes variés de la culture contemporaine et générale (dieux et héros grecs, artisans de la paix, rock-pop, foot, black music, femmes…) à travers une grille modulable permettant au lecteur d'obtenir une vision globale sur chacun des sujets et de s'approprier le sens de lecture sur chacune des pages.</p>
<p>96 pages - 135 x 185mm</p>
<p>Âge : 10-15 ans</p>
<p>Coédition : NOBROW, © Flying Eye Books 2015</p>
<p>Éditeur : Gallimard Jeunesse</p>
<p>Illustrateurs : © Almasty 2017</p>
<p>Autrice : Sylvie Baussier</p>

{% projectImage page 2 %}
{% projectImage page 3 %}
{% projectImage page 4 %}
{% projectImage page 5 %}

<h2>{{title}}</h2>
<div lang="en">
  <p>Book cover and inside layout creation and conception.</p>
  <p>Publisher : Gallimard Jeunesse</p>
  <p>Illustrator: © Almasty 2017</p>
  <p>Author : Sylvie Baussier</p>
</div>

{% include "project-footer" %}