---
title: Carte sérigraphiée
pageDescription: Cartes postales sérigraphiées pour fêter la bonne année.
position: 15
tags:
  - affiche
  - illustration
---

{% include "project-header" %}

{% projectImage page 1 "Affiche sérigraphiée pour la nouvelle année" %}

<h1>Happy Flashy New Year</h1>
<p>Cartes postales sérigraphiées pour fêter la bonne année.</p>
<p>Vous avez mal aux yeux ? C'est normal.</p>

{% projectImage page 2 "Carte postale sérigraphiée pour la nouvelle année" %}

<h2>Happy Flashy New Year</h2>
<p>Marre de recevoir des cartes de bonne année fleuries de vœux impersonnels ? Pensez à la carte postale de non-bonnes années. Elle est valable à vie, il vous suffit de l'envoyer une seule fois.</p>
<p>(À ne pas envoyer aux personnes qui vous sont chères.)</p>
<hr/>
<div lang="en">
  <p>Screenprinted New Year cards.</p>
  <p>Your eyes hurt? It's normal.</p>
</div>

{% include "project-footer" %}
