---
title: Crazy About
pageDescription: Création de la couverture d'un livre documentaire sur les singes.
position: 2
tags:
  - edition
---

{% include "project-header" %}

{% projectImage page 1 %}

<h1>Singes</h1>
<p>Création de la couverture d'un livre documentaire sur les singes.</p>
<p>Éditeur : Gallimard Jeunesse</p>
<p>Texte et illustrations : © Owen Davey 2015</p>
<p>Édition originale parue sous le titre de <cite>Mad About Monkeys</cite></p>
<p>Coédition : NOBROW, © Flying Eye Books 2015</p>

{% projectImage page 2 %}

<h2>Singes</h2>
<div lang="en">
  <p>Documentary book cover creation about monkeys.</p>
  <p>Publisher : Gallimard Jeunesse</p>
  <p>Text and illustration : © Owen Davey 2015</p>
  <p>Original edition parution : <cite>Mad About Monkeys</cite></p>
  <p>Coedition : NOBROW, © Flying Eye Books 2015</p>
</div>

{% projectImage page 3 %}

<h2>Félins</h2>
<p>Création de la couverture d'un livre documentaire sur les félins.</p>
<p>Éditeur : Gallimard Jeunesse</p>
<p>Texte et illustrations : © Owen Davey 2017</p>
<p>Édition originale parue sous le titre de <cite>Crazy About Cats</cite></p>
<p>Coédition : NOBROW, © Flying Eye Books 2017</p>

{% projectImage page 4 %}

<h2>Félins</h2>
<div lang="en">
  <p>Documentary book cover creation about cats.</p>
  <p>Publisher : Gallimard Jeunesse</p>
  <p>Text and illustration : © Owen Davey 2017</p>
  <p>Original edition parution : <cite>Crazy About Cats</cite></p>
  <p>Coedition : NOBROW, © Flying Eye Books 2017</p>
</div>

{% include "project-footer" %}
