---
title: Crazy About
pageDescription: Création de la couverture d'un livre documentaire sur les singes.
position: 2
tags:
  - edition
---

{% include "project-header" %}

{% projectImage page 1 "Couverture Singes" %}

<h1>Singes</h1>
<p>Création de la couverture d'un livre documentaire sur les singes.</p>
<p>Éditeur : Gallimard Jeunesse</p>
<p>Texte et illustrations : © Owen Davey 2015</p>
<p>Édition originale parue sous le titre <cite>Mad About Monkeys</cite></p>
<p>Coédition : NOBROW, © Flying Eye Books 2015</p>

{% projectImage page 2 "Couverture Singes" %}

<h2>Singes</h2>
<p lang="en">Cover design for a documentary book about monkeys.</p>

{% projectImage page 3 "Couverture Félins" %}

<h2>Félins</h2>
<p>Création de la couverture d'un livre documentaire sur les félins.</p>
<p>Éditeur : Gallimard Jeunesse</p>
<p>Texte et illustrations : © Owen Davey 2017</p>
<p>Édition originale parue sous le titre <cite>Crazy About Cats</cite></p>
<p>Coédition : NOBROW, © Flying Eye Books 2017</p>

{% projectImage page 4 "Couverture Félins" %}

<h2>Félins</h2>
<p lang="en">Cover design for a documentary book about cats.</p>

{% include "project-footer" %}
