---
title: Cuberdon
pageDescription: Packaging pour cuberdon, spécialité fine et gourmande belge.
position: 9
tags:
  - packaging
  - illustration
---

{% include "project-header" %}

{% projectImage page 1 "Détail packaging cuberdon" %}

<h1>{{title}}</h1>
<p>Packaging pour cuberdon, spécialité fine et gourmande belge.</p>
<hr/>
<p>Mise en valeur de la tradition et de la finesse du produit à travers des typographies dessinées à la main. Élaboration d'une gamme de tons pastels inattendus pour redynamiser le produit.</p>

{% slideshow page "Packaging cuberdon" %}

{% projectImage page 2 "Packaging cuberdon" %}
{% projectImage page 3 "Packaging cuberdon" %}
{% projectImage page 4 "Détail packaging cuberdon" %}

<h2>{{title}}</h2>
<p>Packaging for cuberdon, a Belgian sweet candy speciality.</p>
<p>Fine and greedy!</p>

{% include "project-footer" %}