---
title: Éditions Rivages
pageDescription: Affiche, dépliant et couvertures de livres pour la collection Roman noir de la maison d'édition Rivages.
position: 10
tags:
  - affiche
  - edition
---

{% include "project-header" %}

{% projectImage page 1 %}

<h1>Éditions Rivages, Roman noir</h1>
<p>Affiche, dépliant et couvertures de livres pour la collection Roman&nbsp;noir de la maison d'édition Rivages.</p>

{% projectImage page 2 %}
{% projectImage page 3 %}
{% projectImage page 4 %}
{% projectImage page 5 %}
{% projectImage page 6 %}
{% projectImage page 7 %}
{% projectImage page 8 %}

<div lang="en">
  <h2>Éditions Rivages, Roman noir</h2>
  <p>Poster, leaflet and book covers for a Black novel collection by Rivages.</p>
</div>

{% include "project-footer" %}
