---
title: Éditions Rivages
pageDescription: Affiche, dépliant et couvertures de livres pour la collection Roman noir de la maison d'édition Rivages.
position: 10
tags:
  - affiche
  - edition
---

{% include "project-header" %}

{% projectImage page 1 "Affiche Roman Noir Éditions Rivages" %}

<h1>Éditions Rivages, Roman noir</h1>
<p>Affiche, dépliant et couvertures de livres pour la collection Roman&nbsp;noir de la maison d'édition Rivages.</p>

{% projectImage page 2 "Dépliant Roman Noir Éditions Rivages" %}
{% projectImage page 3 "Dépliant Roman Noir Éditions Rivages" %}
{% projectImage page 4 "Dépliant Roman Noir Éditions Rivages" %}
{% projectImage page 5 "Dépliant Roman Noir Éditions Rivages" %}
{% projectImage page 6 "Collection de livres Roman Noir Éditions Rivages" %}
{% projectImage page 7 "Livre Roman Noir Éditions Rivages" %}
{% projectImage page 8 "Livre Roman Noir Éditions Rivages" %}

<div lang="en">
  <h2>Éditions Rivages, Roman noir</h2>
  <p>Poster, leaflet and book covers for a Black novel collection by Rivages.</p>
</div>

{% include "project-footer" %}
