---
title: Éditions Rivages
position: 10
tags:
  - poster
  - edition
---

{% include "project-header" %}

{% projectImage page 1 %}

<h1>Éditions Rivages, Roman noir</h1>
<p>Affiche, dépliant et couvertures de livres pour la collection Roman&nbsp;noir de la maison d'édition Rivages.</p>

{% projectImage page 2 %}
{% projectImage page 3 %}
{% projectImage page 4 %}
{% projectImage page 5 %}
{% projectImage page 6 %}
{% projectImage page 7 %}

<div lang="en">
  <h2>Éditions Rivages, Roman noir</h2>
  <p>Poster, leaflet and books covers for the Rivages editory house Black novel collection.</p>
</div>

{% include "project-footer" %}
