---
title: Kelm
pageDescription: Création de l'identité, des affiches et des produit dérivés d'un centre culturel norvégien basé à Bruxelles.
position: 1
tags:
  - affiche
  - identite
  - illustration
---

{% include "project-header" %}

{% projectImage page 1 %}

<h1>{{title}}</h1>
<p>Création de l'identité, des affiches et des produit dérivés d'un centre culturel norvégien basé à Bruxelles.</p>
<hr/>
<p>Mise en valeur de la culture norvégienne à travers une identité simple et épurée afin de la faire découvrir aux bruxellois.</p>

{% projectImage page 2 %}
{% projectImage page 3 %}
{% projectImage page 4 %}
{% projectImage page 5 %}
{% projectImage page 6 %}
{% projectImage page 7 %}
{% projectImage page 8 %}
{% projectImage page 9 %}
{% projectImage page 10 %}
{% projectImage page 11 %}
{% projectImage page 12 %}
{% projectImage page 13 %}
{% projectImage page 14 %}
{% projectImage page 15 %}
{% projectImage page 16 %}

<h2>{{title}}</h2>
<p>La première fois que deux personnes se rencontrent en Norvège, elles se serrent d'abord la main. Ce n'est qu'à partir de la 2e rencontre qu'elles s'enlacent chaleureusement : c'est le Kelm. Une identité épurée sous le signe de la rencontre donc, dans ce centre culturel basé sur Bruxelles et qui a pour but de mettre en valeur la culture norvégienne.</p>
<p>Chez Kelm, on peut faire un tour au sauna en mangeant une tartine norvégienne ou partir au Bois de la Cambre pour un spectacle flamboyant à la lumière de la pleine lune. Un centre chaleureux et festif ouvert sur les découvertes insolites de la Norvège.</p>
<hr/>
<div lang="en">
  <p>The first time two persons meet in Norway, they squeeze up the hand. It is only the 2nd meeting that they embrace warmly : this is called "Kelm". An identite purified under the sign of meeting, in this cultural centre based in Brussels. The aim of Kelm is to emphasize Norwegian culture.<p/>
  <p>It is possible to go to the sauna by eating a Norwegian canape or to go for a show outside under the full moon. A warm and festive centre opened on Norway unusual discoveries.</p>
</div>

{% include "project-footer" %}
