---
title: Kelm
pageDescription: Création de l'identité, des affiches et des produit dérivés d'un centre culturel norvégien basé à Bruxelles.
position: 1
tags:
  - affiche
  - identite
  - illustration
---

{% include "project-header" %}

{% projectImage page 1 %}

<h1>{{title}}</h1>
<p>Création de l'identité, des affiches et des produits dérivés d'un centre culturel norvégien basé à Bruxelles.</p>
<hr/>
<p>Mise en valeur de la culture norvégienne à travers une identité simple et épurée.</p>

{% projectImage page 2 %}
{% projectImage page 3 %}
{% projectImage page 4 %}
{% projectImage page 5 %}
{% projectImage page 6 %}
{% projectImage page 7 %}
{% projectImage page 8 %}
{% projectImage page 9 %}
{% projectImage page 10 %}
{% projectImage page 11 %}
{% projectImage page 12 %}
{% projectImage page 13 %}
{% projectImage page 14 %}
{% projectImage page 15 %}
{% projectImage page 16 %}

<h2>{{title}}</h2>
<p>La première fois que deux personnes se rencontrent en Norvège, elles se serrent d'abord la main. Ce n'est qu'à partir de la 2<sup>e</sup> rencontre qu'elles s'enlacent chaleureusement&nbsp;: c'est le <i>kelm</i>.</p>
<p>Chez Kelm, on peut faire un tour au sauna en mangeant une tartine norvégienne ou partir au Bois de la Cambre pour un spectacle flamboyant à la lumière de la pleine lune. Un centre chaleureux et festif ouvert sur les découvertes insolites de la Norvège.</p>
<hr/>
<div lang="en">
  <p>Identity, posters and product design for a norwegian cultural center based in Brussels.</p>
  <p>A simple and refined identity to share the norwegian culture.</p>
</div>

{% include "project-footer" %}
