---
title: Le café voyageur
position: 12
tags:
  - packaging
  - illustration
---

{% include "project-header" %}

{% projectImage page 1 %}

<h1>{{title}}</h1>
<p>Packaging de film inspiré de la bande dessinée et du film Persepolis de Marjane Satrapi.</p>
<hr/>
<p> Développement d'un packaging pratique et esthétique qui peut être transporté en extérieur et qui met en valeur le film.<p>

{% projectImage page 2 %}
{% projectImage page 3 %}
{% projectImage page 4 %}

<h2>{{title}}</h2>
<p lang="en">Packaging inspired by Marjane Satrapi's comic strip and film, Persepolis.</p>

{% include "project-footer" %}
