---
title: Le café voyageur
pageDescription: Packaging inspiré de la bande dessinée et du film Persepolis de Marjane Satrapi.
position: 12
tags:
  - packaging
  - illustration
---

{% include "project-header" %}

{% projectImage page 1 "Packaging et papercup Le café voyageur" %}

<h1>{{title}}</h1>
<p>Packaging inspiré de la bande dessinée et du film <cite>Persepolis</cite> de Marjane Satrapi.</p>
<hr/>
<p>Développement d'un packaging pratique et esthétique qui peut être transporté en extérieur et qui met en valeur le film.</p>

{% projectImage page 2 "Packaging Le café voyageur" %}
{% projectImage page 3 "Packaging Le café voyageur" %}
{% projectImage page 4 "Papercup Le café voyageur" %}

<h2>{{title}}</h2>
<p lang="en">Packaging inspired by Marjane Satrapi's graphic novel and film, <cite>Persepolis</cite>.</p>

{% include "project-footer" %}
