---
title: Le Livre de la jungle
position: 3
tags:
  - edition
---

{% include "project-header" %}

{% projectImage page 1 %}

<h1>{{title}}</h1>
<p>Création de la couverture et de la mise en page intérieure d'une adaptation du <cite>Livre de la jungle</cite> de Rudyard Kipling.</p>
<p>Éditeur : Gallimard Jeunesse</p>
<p>Directrice éditoriale : Alice Liège</p>
<p>Illustrateur : © Laurent Moreau 2016</p>
<p>Autrice : Véronique Ovaldé</p>

{% projectImage page 2 %}
{% projectImage page 3 %}

<h2>{{title}}</h2>
<div lang="en">
  <p>Book cover and inside layout creation of an adaptation of Rudyard Kipling's <cite>Jungle Book</cite>.</p>
  <p>Publisher : Gallimard Jeunesse</p>
  <p>Editorial director : Alice Liège</p>
  <p>Illustrator: © Laurent Moreau 2016</p>
  <p>Author : Véronique Ovaldé</p>
</div>

{% include "project-footer" %}
