---
title: Le Livre de la jungle
pageDescription: Création de la couverture et de la mise en page intérieure d'une adaptation du Livre de la jungle de Rudyard Kipling.
position: 3
tags:
  - edition
---

{% include "project-header" %}

{% projectImage page 1 "Couverture Le Livre de la jungle" %}

<h1>{{title}}</h1>
<p>Création de la couverture et de la mise en page intérieure d'une adaptation du <cite>Livre de la jungle</cite> de Rudyard Kipling.</p>
<p>Éditeur : Gallimard Jeunesse</p>
<p>Directrice éditoriale : Alice Liège</p>
<p>Illustrateur : © Laurent Moreau 2016</p>
<p>Autrice : Véronique Ovaldé</p>

{% projectImage page 2 "Mise en page intérieure Le Livre de la jungle" %}
{% projectImage page 3 "Mise en page intérieure Le Livre de la jungle" %}

<h2>{{title}}</h2>
<p lang="en">Book cover and inside layout design for an adaptation of Rudyard Kipling's <cite>Jungle Book</cite>.</p>

{% include "project-footer" %}
