---
title: Le Merlan
pageDescription: Aide à la réalisation de la brochure de la saison culturelle 2017-2018 du Merlan.
position: 4
tags:
  - edition
---

{% include "project-header" %}

{% projectImage page 1 "Couverture brochure Le Merlan" %}

<h1>{{title}}</h1>
<p>Aide à la réalisation de la brochure de la saison culturelle 2017-2018 du Merlan.</p>
<p>Le Merlan, scène nationale de Marseille.</p>
<p>Création et conception : Samuel&nbsp;Lemercier&nbsp;/&nbsp;Vendredi.</p>

{% projectImage page 2 "Intérieur brochure Le Merlan" %}
{% projectImage page 3 "Intérieur brochure Le Merlan" %}
{% projectImage page 4 "Intérieur brochure Le Merlan" %}
{% projectImage page 5 "Intérieur brochure Le Merlan" %}
{% projectImage page 6 "Intérieur brochure Le Merlan" %}
{% projectImage page 7 "Intérieur brochure Le Merlan" %}

<h2>{{title}}</h2>
<p lang="en">Participation to the production of a brochure for the 2017-2018 cultural season of Le Merlan, Marseille.</p>

{% include "project-footer" %}
