---
title: Mac's
position: 7
tags:
  - edition
---

{% include "project-header" %}

{% comment %}
{% projectImage page 1 %}
{% endcomment %}

<h1>{{title}}</h1>
<p>Création d'une brochure de la saison culturelle 2013-2014 du Mac's.</p>
<p>Musée des arts contemporain du Grand Hornu, Belgique.</p>

{% comment %}
{% projectImage page 2 %}
{% projectImage page 3 %}
{% projectImage page 4 %}
{% projectImage page 5 %}
{% endcomment %}

<div lang="en">
  <h2>{{title}}</h2>
  <p>The Mac's 2013-14 season brochure.</p>
  <p>Contemporary museum of arts, Grand Hornu, Belgium.</p>
</div>

{% include "project-footer" %}
