---
title: Moon Boots
pageDescription: Création d'une boîte à chaussures pour enfants en forme de fusée.
position: 14
tags:
  - packaging
  - illustration
---

{% include "project-header" %}

{% projectImage page 1 "Packaging boîte à chaussures" %}

<h1>Moon Boots,<br/> la chaussure voyageuse</h1>
<p>Création d'une boîte à chaussures pour enfants en forme de fusée.</p>

{% projectImage page 2 "Packaging boîte à chaussures" %}
{% projectImage page 3 "Packaging boîte à chaussures" %}
{% projectImage page 4 "Détail illustration boîte à chaussures" %}
{% projectImage page 5 "Étiquette boîte à chaussures" %}
{% projectImage page 6 "Détail typographie boîte à chaussures" %}

<h2>Moon Boots, <br/>la chaussure voyageuse</h2>
<p lang="en">Children shoes box with a rocket shape.</p>

{% include "project-footer" %}
