---
title: Moon Boots
pageDescription: Création d'une boîte à chaussures pour enfants en forme de fusée.
position: 14
tags:
  - packaging
  - illustration
---

{% include "project-header" %}

{% projectImage page 1 %}

<h1>Moon Boots, la chaussure voyageuse</h1>
<p>Création d'une boîte à chaussures pour enfants en forme de fusée.</p>

{% projectImage page 2 %}
{% projectImage page 3 %}
{% projectImage page 4 %}
{% projectImage page 5 %}
{% projectImage page 6 %}

<h2>Moon Boots, la chaussure voyageuse</h2>
<p lang="en">Children shoes box in form of a rocket. </p>

{% include "project-footer" %}
