---
title: Poster for Tomorrow
pageDescription: Affiche sélectionnée pour le concours "A home for everyone".
position: 7
tags:
  - affiche
  - illustration
---

{% include "project-header" %}

{% projectImage page 1 %}

<h1>{{title}}</h1>
<p>Affiche sélectionnée pour le concours "A home for everyone".</p>
<p lang="en">Poster for Tomorrow 2013.</p>

{% slideshow page %}

<div lang="en">
  <h2>{{title}}</h2>
  <p>Poster selected for the competition "A home for everyone".</p>
</div>

{% include "project-footer" %}
