---
title: Rétrospective Film Western
pageDescription: Affiche d'une rétrospective de westerns spaghetti.
position: 13
tags:
  - affiche
  - illustration
---

{% include "project-header" %}

{% projectImage page 1 "Affiche retrospective western" %}

<h1>{{title}}</h1>
<p>Affiche d'une rétrospective de westerns spaghetti.</p>
<hr/>
<p>Mise en évidence des symboles du western spaghetti à travers de multiples illustrations ludiques.</p>

{% slideshow page "Illustration retrospective western" %}

<h2>{{title}}</h2>
<p lang="en">Spaghetti western retrospective's poster.</p>

{% include "project-footer" %}
