---
title: Villo
position: 11
tags:
  - identity
  - illustration
---

{% include "project-header" %}

{% projectImage page 1 %}

<h1>{{title}}</h1>
<p>Refonte de l'identité de Villo, vélos municipaux de Bruxelles.</p>
<hr/>
<p>Mise en valeur du partage à travers le symbole du tandem et ses multiples déclinaisons de pattern.<p>

{% projectImage page 2 %}
{% projectImage page 3 %}
{% projectImage page 4 %}
{% projectImage page 5 %}
{% projectImage page 6 %}

<h2>{{title}}</h2>
<p lang="en">New identity for Villo, a belgian brand for public bicycle in Brussels.</p>

{% include "project-footer" %}
